@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "LemonMilk";
  src: url(./fonts/LemonMilk.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #001427;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.dark-background {
  position: fixed;
  display: block;
  background: #000a14;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;

  transition: 0.3s ease-in-out;

  z-index: 49;
}

.dark-background.active {
  opacity: 0.7;
  pointer-events: unset;
}

.page-header {
  position: relative;
  background: #001427;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 0px;
}

.header-menu {
  position: relative;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}

.header-logo {
  font-family: "LemonMilk";
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.header-logo:hover,
.header-logo.active {
  color: #ffc833;
  text-shadow: 0px 0px 10px rgba(254, 188, 47, 0.5);
  z-index: 50;
}

.left-header-tab {
  position: absolute;
  top: 45px;
  background: #292a45;
  width: 60px;
  height: 0px;
  border-radius: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 51;
}

.left-header-tab.active {
  height: 230px;
  opacity: 1;
  pointer-events: unset;
}

.left-tab-options {
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.left-tab-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #292a45;
  transition: 0.4s ease-in-out;

  display: grid;
  place-items: center;
}

.left-tab-icon img {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.left-tab-icon:hover {
  background: #ffc833;
  box-shadow: 0px 0px 15px rgba(254, 188, 47, 0.5);
}

.left-tab-name {
  position: fixed;
  left: 120px;
  background: #ffc833;
  padding: 7px 0;
  border-radius: 5px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0px 0px 15px rgba(254, 188, 47, 0.5);
  font-size: 14px;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}

.left-tab-icon:hover + .left-tab-name {
  opacity: 1;
  padding: 7px 30px;
}

.right-header-tab {
  margin-right: 3rem;
  width: 760px;
  height: 50px;
  background: #292a45;
  padding: 0px 10px;
  border-radius: 25px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right-tab-options {
  display: flex;
  align-items: center;
  padding: 0px 28px 0px 30px;
  margin: 0px 5px;
  min-width: 40px;
  transition: 0.3s linear;
  border-radius: 20px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;

  display: flex;
  justify-content: center;
}

.right-tab-icon img {
  width: 16px;
  height: 16px;
  margin-top: 7px;
}

.right-tab-name {
  white-space: nowrap;
  margin-left: 8px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 500;
  /* text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4); */
}

.right-tab-options:hover,
.active-page {
  background: #404161;
  border-radius: 20px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  justify-content: space-evenly;
}

.active-page,
.active-page:hover {
  /* background: #F4D58D; */
  background: #ffc833;
  box-shadow: 0px 0px 10px rgba(254, 188, 47, 0.5);
  padding: 2px 25px 2px 20px;
}

.active-page .right-tab-name {
  color: #292a45;
  /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); */
}

.active-page .right-tab-icon img {
  filter: invert(0.8);
}

.active-page:hover .right-tab-name,
.active-page .right-tab-name {
  display: unset;
  opacity: 1;
  font-weight: 600;
}

.content {
  position: relative;
  width: 100%;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wave {
  position: absolute;
  width: 100%;
  height: 30%;
  background: url(./images/wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
}

.wave1 {
  opacity: 0.7;
  transform: translate(210px, -20px) scale(1.1);
}

.wave2 {
  opacity: 0.5;
  transform: translate(-70px, -10px) scaleX(1.2);
}

/* 
.wave1 {
    animation: waveAnimation 30s linear infinite;
}

.wave2 {
    animation: waveAnimation2 40s linear infinite;
} */

@keyframes waveAnimation {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1300px;
  }
}

@keyframes waveAnimation2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1300px;
  }
}

.profile-title {
  background: #292a45;
  padding: 10px 40px;
  border-radius: 20px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: 4px 3px 0px rgba(254, 188, 47, 1),
    5px 5px 8px rgba(254, 188, 47, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin-left: -300px;
  margin-top: -10px;

  transform: skewX(-10deg);
  animation: animate 1s ease-in-out forwards;

  display: flex;
  flex-direction: column;

  z-index: 2;
}

/* @keyframes animate {
  from {
    transform: skewX(-10deg) translateX(150%);
    opacity: 0;
  }
  to {
    transform: skewX(-10deg) translateX(0%);
    opacity: 1;
  }
} */

.profile-name {
  text-transform: uppercase;
  font-size: 26px;
  /* font-style: italic; */
  margin-right: 30px;
  color: #ffc833;
  text-shadow: 0px 0px 8px rgba(254, 188, 47, 0.3);
}

.profile-overview {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  /* font-style: italic; */
  color: #acacac;

  align-self: flex-end;
}

.profile-bigger-box {
  background: #292a45;
  padding: 30px 35px 25px;
  width: auto;
  height: 340px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  margin-top: -13px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  z-index: 1;
}

.profile-component {
  min-width: 370px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profile-subtitle {
  color: #acacac;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
  text-transform: uppercase;
  font-style: italic;
}

.profile-box {
  background: #151525;
  font-size: 13px;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: default;

  display: flex;
  align-items: center;
}

.profile-sex-age {
  min-width: 370px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.profile-sex-age > div {
  min-width: 120px;
}

.profile-age {
  margin-left: 20px;
}

.password {
  background: #292a45;
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  margin-top: -20px;
  margin-right: -200px;

  z-index: 2;
}

.password-button {
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  min-width: 300px;
  height: 40px;
  background: #8872ff;
  box-shadow: 0px 0px 15px rgba(136, 114, 252, 0.4);
  border-radius: 20px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  cursor: pointer;

  transition: 0.5s;

  display: grid;
  place-items: center;
}

.password-button:hover {
  background: #ffc833;
  box-shadow: 0px 0px 15px rgba(254, 188, 47, 0.4);
}

@media (max-width: 1024px) {
  .header-menu {
    margin-left: 3rem;
  }

  .left-header-tab {
    position: fixed;
    left: 0;
    top: 0;
    height: 50%;
    width: 0;
    opacity: 1;
    pointer-events: unset;
    border-radius: 0px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    transition: 0.2s ease-in-out;

    align-items: flex-start;
    justify-content: space-evenly;

    z-index: 51;
  }

  .left-header-tab.active {
    width: 30%;
    height: 50%;
  }

  .left-tab-options {
    overflow: hidden;
    border-radius: 0;
    padding: 5vh 220px 5vh 20px;
    margin: 0;
    cursor: pointer;

    transition: 0.3s linear;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .left-tab-options:hover {
    padding: 5vh 220px 5vh 20px;
    background: #404161;
  }

  .left-tab-name {
    position: relative;
    display: inline;
    left: 25px;
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
    padding: 0;
    background: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .left-tab-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 7px;
    background: none;
  }

  .left-tab-icon:hover {
    background: none;
    box-shadow: none;
  }

  .left-tab-icon:hover + .left-tab-name {
    padding: 0;
  }

  .navigation-toggle {
    position: absolute;
    right: 0;
    top: 20px;
    background: #292a45;
    width: 60px;
    height: 50px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.4);

    transform: skew(-15deg) scaleX(1.25);
    transition: 0.3s ease-in-out;

    display: grid;
    place-items: center;
    /* z-index: 50; */
  }

  .navigation-toggle:hover {
    background: #ffc833;
  }

  .navigation-toggle-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    filter: invert(1);
  }

  .right-header-tab {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;

    width: 0;
    height: 65%;
    border-radius: 0px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    transition: 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    z-index: 51;
  }

  .right-header-tab.active {
    width: 30%;
  }

  .right-tab-options {
    overflow: hidden;
    border-radius: 0;
    padding: 5vh 220px 5vh 30px;
    margin: 0;

    display: flex;
    justify-content: flex-start;
  }

  .right-tab-options:hover {
    padding: 5vh 220px 5vh 30px;
    border-radius: 0;
  }

  .right-tab-name {
    font-size: 16px;
    font-weight: 500;
    display: unset;
    opacity: 1;
    margin-left: 20px;
  }

  .right-tab-icon img {
    width: 20px;
    height: 20px;
  }

  .wave {
    height: 40vh;
  }

  .wave2 {
    transform: translateX(-300px);
  }
}

@media (max-width: 616px) {
  .header-menu {
    margin-left: 1.5rem;
  }

  .left-header-tab.active,
  .right-header-tab.active {
    width: 40%;
  }

  .left-tab-options,
  .left-tab-options:hover,
  .right-tab-options,
  .right-tab-options:hover {
    padding: 5vh 200px 5vh 25px;
  }

  .left-tab-name,
  .right-tab-name {
    white-space: normal;
  }

  .profile-title {
    margin-left: 0;
    margin-top: -20px;
  }

  .password {
    margin-right: 0;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .wave2 {
    transform: translateX(-100px);
  }

  .profile-title {
    margin-bottom: 5px;
  }

  .profile-name {
    margin-right: 20px;
  }

  .profile-bigger-box {
    height: 360px;
    padding: 30px 30px 10px;
  }

  .profile-component,
  .profile-sex-age {
    min-width: 290px;
  }

  .profile-subtitle {
    font-size: 15px;
  }

  .profile-box {
    padding: 20px 20px;
  }

  .password-button {
    min-width: 240px;
  }
}

@media (max-width: 415px) {
  .right-header-tab.active,
  .left-header-tab.active {
    width: 45%;
  }

  .left-tab-name {
    font-size: 13px;
    left: 17px;
  }

  .right-tab-name {
    font-size: 13px;
  }

  .left-tab-icon img,
  .right-tab-icon img {
    width: 20px;
    height: 20px;
  }

  .left-tab-icon {
    margin-bottom: 3px;
  }
}

@media (max-width: 370px) {
  .profile-title {
    padding: 10px 25px;
  }

  .profile-bigger-box {
    padding: 30px 20px 10px;
  }

  .profile-component,
  .profile-sex-age {
    min-width: 250px;
  }

  .profile-sex-age > div {
    min-width: 100px;
  }
}

@media (max-height: 630px) {
  .wrapper {
    overflow-y: auto;
    min-height: 100vh;
    height: auto;
  }

  .content {
    height: auto;
    padding: 30px 0px;
  }

  .profile-title {
    margin-top: 0;
    margin-bottom: -15px;
  }

  .profile-bigger-box {
    margin-top: 0;
  }
}
